body {
	background: white;
}

a {
	text-decoration: none;
}

a:hover {
	color: #ff9999;
	text-decoration: none;
}

h1, h2 {
	font-family: 'Unica One', cursive;
	color: #77C9D4;
}

p {
	font-family: 'Vollkorn', serif;
	color: black;
}

.centerDiv{
	 /* Must manually set width/height */
	 width:800px;
	 height:610px;
	
	 /* The magic centering code */
	 margin:auto;
	 position:absolute;
	 top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
	 left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */
	
	 /* Prevent div from overflowing main window */
	 max-width:100%;
	 max-height:100%;
	 overflow:auto;
  }