/* * {
    border: 3px dashed orange;
} */

/* Navigation */
.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #804000 !important;
}

div > ul > li {
    padding-right: 100px;
}

.pushdown {
    margin-top: 50px;
}

/* Cover */
cover {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

h1 {
    color: white;
}

/* Call to action buttons */
.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn-outline-primary:hover {
    color: grey;
    border-color: grey;
    background-color: transparent;
}

/* Main content */
.main_content > div > p{
    color: black;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.description{
    color: white;
}

/* Map and form area */
h3, label {
    font-weight: bolder;
}

.pad-content {
    padding-top: 50px;
    padding-bottom: 50px
}

/* Menu */
.table td, .table th {
    border-top: none;
}

.pad-menu {
    padding-top: 25px;
    border-bottom: 2px solid #dee2e6;
}

/* Media queries for map size */
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     iframe {
        margin-top: 2%; 
        height: 275px;
         width: 275px;
     }
     
    .title-banner {
        float: none;
        margin: 0 auto;
        text-align: center;
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    iframe {
        margin-top: 2%;
        height: 275px;
        width: 275px;
    }
     
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    iframe {
        margin-top: 2%;
        height: 450px;
        width: 450px;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    iframe {
        margin-top: 2%;
        height: 450px;
        width: 450px;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    iframe {
        margin-top: 1%;
        height: 500px;
        width: 500px;
    }
 } 

/* additional images.. we can delete this later if we dont want it */
.temp_img {
    min-height: 300px;
    background-position: 0% 37%;
    margin-top: 0%;
}
