@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

a {
  text-decoration: none;
}

body {
  /* background-color: #a8ccc9; */
  color: rgba(0,0,0,.7);
  font-family: "M PLUS Rounded 1c",sans-serif !important;
}